@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-background: light-dark(var(--color-taupe-50), var(--color-taupe-950));
  --color-foreground: light-dark(var(--color-taupe-950), var(--color-white));
  --color-card: light-dark(var(--color-white), var(--color-taupe-900));
  --color-card-foreground: light-dark(
    var(--color-taupe-950),
    var(--color-white)
  );
  --color-popover: light-dark(var(--color-white), var(--color-taupe-900));
  --color-popover-foreground: var(--color-taupe-950);
  --color-primary: var(--color-blue-700);
  --color-primary-foreground: var(--color-blue-50);
  --color-secondary: var(--color-zinc-100);
  --color-secondary-foreground: var(--color-zinc-900);
  --color-muted: var(--color-taupe-100);
  --color-muted-foreground: var(--color-taupe-500);
  --color-accent: var(--color-taupe-100);
  --color-accent-foreground: var(--color-taupe-900);
  --color-destructive: light-dark(var(--color-red-600), var(--color-red-400));
  --color-border: light-dark(var(--color-taupe-200), var(--color-taupe-700));
  --color-input: var(--color-taupe-200);
  --color-ring: var(--color-taupe-400);
  --color-chart-1: var(--color-sky-400);
  --color-chart-2: var(--color-sky-500);
  --color-chart-3: var(--color-sky-600);
  --color-chart-4: var(--color-sky-700);
  --color-chart-5: var(--color-sky-800);
  --color-sidebar: var(--color-taupe-50);
  --color-sidebar-foreground: var(--color-taupe-950);
  --color-sidebar-primary: var(--color-blue-600);
  --color-sidebar-primary-foreground: var(--color-blue-50);
  --color-sidebar-accent: var(--color-taupe-100);
  --color-sidebar-accent-foreground: var(--color-taupe-900);
  --color-sidebar-border: var(--color-taupe-200);
  --color-sidebar-ring: var(--color-taupe-400);
  --color-good: light-dark(var(--color-green-600), var(--color-green-400));
  --color-warning: light-dark(var(--color-amber-600), var(--color-amber-400));

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-sans);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --radius: 0.45rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  :root {
    color-scheme: light dark;
  }
  body {
    @apply font-sans bg-background text-foreground antialiased;
  }
}
